* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Roboto" !important;
  background: #f9f9f9;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: "Roboto" !important;
}

ul,
li {
  list-style: none;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #007aff;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background: #007aff !important;
}

.ant-form-item {
  margin-bottom: 15px !important;
}

.no-margin.ant-form-item {
  margin-bottom: 0 !important;
}

.ant-input {
  padding: 8px 11px !important;
}

.ant-input-affix-wrapper {
  padding: 0 11px !important;
}

.ant-input-affix-wrapper .ant-input {
  padding: 8px 0px !important;
}

.ant-col {
  width: 100% !important;
}

.ant-layout-sider-has-trigger,
.ant-layout-sider-trigger {
  transition: all 0.5s ease !important;
}

.ant-pagination {
  margin: 0 !important;
  margin-top: 15px !important;
}

.styled-tooltip .ant-tooltip-content {
  width: 31.25rem;
}
